.section {
    display: flex;
    align-items: center;
    padding: 2rem 0;
    width: 100%;
}

.image {
    height: 150px;
}

.header {
    text-align: center;
    margin-bottom: 2rem;
}

.header h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.header p {
    color: var(--ifm-color-emphasis-600);
    font-size: 1.1rem;
}