[submodule "template-docs/template-unreal"]
	path = template-docs/template-unreal
	url = git@github.com:apigear-io/template-unreal.git
[submodule "template-docs/template-cpp14"]
	path = template-docs/template-cpp14
	url = git@github.com:apigear-io/template-cpp14.git
[submodule "template-docs/template-qt6"]
	path = template-docs/template-qt6
	url = git@github.com:apigear-io/template-qtcpp.git
